#map {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 200vh;
	max-width: 100%;
	background-image: url("../assets/treasure_map_1.jpg");
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
